* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/background.jpg");
  background-size: cover;
  background-position: center center; /* This centers the image */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps image fixed during scroll */
}

.appContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
  min-height: 100vh;
  box-sizing: border-box;
}

.chartBox {
  flex: 1;
  max-width: 300px;
  min-width: 250px;
  height: 450px;
  background: #ddcccc1b;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .appContainer {
    flex-direction: column;
    align-items: center;
  }

  .chartBox:first-child {
    order: 2; /* Income chart goes to second position */
  }

  .appContainer > :nth-child(2) {
    order: 1; /* Expense form stays first */
  }

  .chartBox:last-child {
    order: 3; /* Expense chart goes to third position */
  }

  .chartBox {
    max-width: 100%;
    width: 100%;
  }
}
